:global{
  pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
   }
}

.results {
  padding: 10px;
  .result-data {
    margin-bottom: 40px;
  }
  .no-result{
    h2{
      margin-bottom: 5px;
    }
    text-align: center;
  }
}
